<div class="maindiv">
    <div class="firstdiv sm-p-0" ><h1>Find and convert the perfect leads</h1>
        <div class="">Find, contact, and close your ideal buyers with over 265M contacts and streamlined engagement workflows powered by AI.</div>

        <button type="button" class="btn  mx-2 my-3 signupButton"  routerLink="/signup">Sign up for free</button>
        <button type="button" class="btn btn-outline-secondary mx-2 requestdemoButton" routerLink="/requestDemo">Request a demo </button>
    </div>
    <div class="secondiv"><div class="card my-3" style="width: 800px; ">
      <div>
        <div class="uk-overflow-hidden">
            <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&w=1600" width="1900" height="1900" alt="Example image" class="uk-animation-reverse uk-transform-origin-top-right" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
        </div>
    </div>
      </div></div>
</div>



