<div class="row">
  <div class="sidebar col-2 shadow">
  <!---

    <mat-list>
      <mat-form-field [style.width.px]=250  >
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. name">
    </mat-form-field>
    
    <mat-form-field [style.width.px]=250  >
    <mat-label>Job Titles </mat-label>
    <mat-select
    
      multiple
      data-te-select-clear-button="true"
      
    >
      <mat-option
        ></mat-option
      >
    </mat-select>
    </mat-form-field>
    
    <mat-form-field [style.width.px]=250  >
    <mat-label>Company </mat-label>
    <mat-select
    
      multiple
      data-te-select-clear-button="true"
      
    >
      <mat-option
        *ngFor="let topping of allData"
        [value]="topping" 
        >{{ topping.company_Name}}</mat-option
      >
    </mat-select>
    </mat-form-field>    <mat-divider></mat-divider>
    <mat-form-field [style.width.px]=250  >
      <mat-label>Location</mat-label>
      <input matInput placeholder="Ex. name" [(ngModel)]="locationFilter">
    </mat-form-field>

    <mat-form-field [style.width.px]=250  >
    <mat-label>Employees </mat-label>
    <mat-select
    
      multiple
      data-te-select-clear-button="true"
      
    >
      <mat-option
        *ngFor="let topping of allData"
        [value]="topping" 
        >{{ topping.employee_Size }}</mat-option
      >
    </mat-select>
    </mat-form-field>
    <mat-form-field [style.width.px]=250  >
    <mat-label>Industry </mat-label>
    <mat-select
    
      multiple
      data-te-select-clear-button="true"
      
    >
      <mat-option
        *ngFor="let topping of allData"
        [value]="topping" 
      >{{ topping.industry }}</mat-option
      >
    </mat-select>
    </mat-form-field>
    </mat-list>
    
-->

<!-- Replace the Location input with a Country dropdown -->
<!-- <mat-form-field [style.width.px]=250>
  <mat-label>Country</mat-label>
  <mat-select [(ngModel)]="countryFilter" placeholder="Select Country">
    <mat-option *ngFor="let country of countries" [value]="country">
      {{ country }}
    </mat-option>
  </mat-select>
</mat-form-field> -->


<mat-form-field [style.width.px]=250  >
  <mat-label>Location</mat-label>
  <input matInput placeholder="Ex. Location" [(ngModel)]="countryFilter">
</mat-form-field>


    <div class="tab-content" id="ex1-content">
      <div
        class="tab-pane fade show active"
        id="ex1-tabs-1"
        role="tabpanel"
        aria-labelledby="ex1-tab-1"
      >
        <ng-container *ngIf="isPeopleRoute()">
          <router-outlet></router-outlet>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="maincontent col-6 shadow">
    <app-rigth-sidenetnew-saved-total></app-rigth-sidenetnew-saved-total>
    <div class="container">
      <h1>Data List</h1>
      <div>
        <button (click)="previousPage()">Previous</button>
        <span>{{ currentPage + 1 }}</span>
        <button (click)="nextPage()">Next</button>
      </div>
      <table
        class="table table-bordered table-hover table-responsive{-sm|-md|-lg|-xl} table-fixed"
      >
        <thead>
          <tr>
            <th>Name</th>

            <th>Company</th>

            <th>Title</th>
            <th>job_function</th>
            <th>Location</th>
            <th>Employee_Size</th>
            <th>Industry</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList">
            <td>{{ item.first_Name }} {{ item.last_Name }}</td>
            <td>{{ item.company_Name }}</td>

            <td>{{ item.job_Title }}</td>
            <td>{{ item.job_Function }}</td>

            <td>{{ item.city }} {{ item.country }}</td>

            <td>{{ item.employee_Size }}</td>
            <td>{{ item.industry }}</td>
          </tr>
        </tbody>
      </table>
     
    </div>
   
  </div>
</div>